<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7ovyUQR48_5wl-ENN6vt8ajhT1U__zMM</string>
	<key>GCM_SENDER_ID</key>
	<string>1007435993650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baseapp.ulearningApp</string>
	<key>PROJECT_ID</key>
	<string>ulearning-app-4a920</string>
	<key>STORAGE_BUCKET</key>
	<string>ulearning-app-4a920.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007435993650:ios:50346587bebfcdff11a22b</string>
</dict>
</plist>